Source: php-phalcon
Section: php
Priority: optional
Maintainer: Phalcon Framework Team <team@phalconphp.com>
XSBC-Original-Maintainer: Serghei Iakovlev <serghei@phalconphp.com>
Build-Depends: debhelper (>= 9), php7.0-dev, php7.0-json, libpcre3-dev
Standards-Version: 3.9.5
Vcs-Git: git://github.com/phalcon/cphalcon.git
Vcs-Browser: https://github.com/phalcon/cphalcon

Package: php7.0-phalcon
Architecture: any
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Suggests: php7.0-mysql, php7.0-sqlite3, php7.0-pgsql, php7.0-memcached, php7.0-mcrypt
Description: High performance PHP framework
 Phalcon is a web framework implemented as a C extension
 offering high performance and lower resource consumption.
 .
 PHP7 is an HTML-embedded scripting language. Much of its syntax is borrowed
 from C, Java and Perl with a couple of unique PHP-specific features thrown
 in. The goal of the language is to allow web developers to write
 dynamically generated pages quickly.

Package: php7.0-phalcon-dbg
Depends: ${misc:Depends}, php7.0-phalcon (= ${binary:Version})
Recommends: gdb
Suggests: php7.0-phpdbg
Section: debug
Priority: extra
Architecture: any
Description: Debug symbols for php7.0-phalcon
 This package provides the debug symbols for php7.0-phalcon needed for properly
 debugging errors with gdb.
 .
 PHP7 is an HTML-embedded scripting language. Much of its syntax is borrowed
 from C, Java and Perl with a couple of unique PHP-specific features thrown
 in. The goal of the language is to allow web developers to write dynamically
 generated pages quickly.
